{{ if and (not .ci) .onepassword_signer -}}
[user]
    signingkey = {{ onepasswordRead "op://lyiokpptmbyfo6str5tntvaemy/ebrgp4xf4lheweoxh5ap5nh574/public key" .onepassword_account }}

[gpg]
    format = ssh

[gpg "ssh"]
    program = {{ .onepassword_signer | quote }}

[commit]
    gpgsign = true
{{ end -}}
