[user]
    name = {{ .full_name | quote }}
    email = {{ .email | quote }}

[include]
    path = config-personal

{{ if dig "archipel_academy" "enabled" false . }}
[includeIf "gitdir/i:~/Code/archipelacademy/"]
    path = config-work-archipel-academy
{{ end -}}
