{{- $machineChoices := list "personal" "work" -}}
{{- $machine := promptChoiceOnce . "machine" "Machine type" $machineChoices "personal" -}}
{{- $dotnet := promptBoolOnce . "dotnet" "Set up .NET development" false -}}

[data]
    machine = {{ $machine | quote }}
    dotnet = {{ $dotnet }}
    full_name = "Cyril de Wit"
    email = "cyril@cyrildewit.nl"
    username = "cyrildewit"
    xdgCacheDir = "{{ .chezmoi.homeDir }}/.cache"
    xdgConfigDir = "{{ .chezmoi.homeDir }}/.config"
    xdgDataDir = "{{ .chezmoi.homeDir }}/.local/share"
    xdgStateDir = "{{ .chezmoi.homeDir }}/.local/state"

[data.archipel_academy]
    dir = "~/Code/ArchipelAcademy"
