{{- $machineChoices := list "personal" "work" -}}
{{- $machine := promptChoiceOnce . "machine" "Machine type" $machineChoices "personal" -}}
{{- $dotnet := promptBoolOnce . "dotnet" "Set up .NET development" false -}}

{{- $archipelAcademy := promptBoolOnce . "archipel_academy.enabled" "Set up Archipel Academy git identity" false -}}
{{- $archipelAcademyDir := "" -}}
{{- $archipelAcademyEmail := "" -}}
{{- $archipelAcademyAccount := "" -}}
{{- $archipelAcademyDirDefault := "~/Code/ArchipelAcademy" -}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $archipelAcademyDirDefault = "~/Projects" -}}
{{- end -}}
{{- if $archipelAcademy -}}
{{-   $archipelAcademyDir = promptStringOnce . "archipel_academy.dir" "Archipel Academy code directory" $archipelAcademyDirDefault -}}
{{-   $archipelAcademyEmail = promptStringOnce . "archipel_academy.email" "Archipel Academy email" -}}
{{-   $archipelAcademyAccount = promptStringOnce . "archipel_academy.onepassword_account" "Archipel Academy 1Password account" -}}
{{- end -}}

[data]
    machine = {{ $machine | quote }}
    dotnet = {{ $dotnet }}
    full_name = "Cyril de Wit"
    email = "cyril@cyrildewit.nl"
    username = "cyrildewit"
    onepassword_account = "my.1password.com"
    xdgCacheDir = "{{ .chezmoi.homeDir }}/.cache"
    xdgConfigDir = "{{ .chezmoi.homeDir }}/.config"
    xdgDataDir = "{{ .chezmoi.homeDir }}/.local/share"
    xdgStateDir = "{{ .chezmoi.homeDir }}/.local/state"
{{ if $archipelAcademy }}
[data.archipel_academy]
    enabled = true
    dir = {{ $archipelAcademyDir | quote }}
    email = {{ $archipelAcademyEmail | quote }}
    onepassword_account = {{ $archipelAcademyAccount | quote }}
{{ end -}}
