export XDG_CONFIG_HOME=$HOME/.config

#eval "$(oh-my-posh init zsh --config ~/cyrildewit.omp.json)"
eval "$(oh-my-posh init zsh)"

source $HOMEBREW_PREFIX/share/zsh-autosuggestions/zsh-autosuggestions.zsh
