export XDG_DATA_HOME={{ .xdgDataDir }}
export XDG_CONFIG_HOME={{ .xdgConfigDir }}
export XDG_STATE_HOME={{ .xdgStateDir }}
export XDG_CACHE_HOME={{ .xdgCacheDir }}

#eval "$(oh-my-posh init zsh --config ~/cyrildewit.omp.json)"
eval "$(oh-my-posh init zsh)"

source $HOMEBREW_PREFIX/share/zsh-autosuggestions/zsh-autosuggestions.zsh
